@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition-duration: 0.5s;
  scroll-behavior: smooth;
  color: black;
  font-family: "Poppins", serif;
}

body {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;

}

.greeting {
  display: none;
  position: absolute;
  opacity: 0;
  animation: fadeInOut 3s ease-in-out;
  color: white;
}

#greetings-container {
  text-align: center;
  font-size: 8rem;
  position: relative;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.body-container.main {
  animation: fadeIn 1s ease-in-out;
}

.body-container {
  background-image: url("./images/bg2.jpeg");
  margin: 0 5rem;
  padding: 3rem 0;
  border-left: 2px solid black;
  position: relative;
  border-right: 2px solid black;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

section {
  margin: 3rem 2rem;
}

/* COMMON CSS */
.line {
  position: absolute;
  width: 10rem;
  height: 25px;
  /* background-color: #f9d9bc; */
   background-color: #f9d9bc;
  top: 7rem;
  left: 1rem;
}

.sections-heading {
  background-color: #f9d9bc;
  width: fit-content;
  padding: 2px 5px;
  font-size: 1.5rem;
  font-family: "Handlee", cursive;
  font-weight: 700;
}

.header-container {
  width: fit-content;
  margin: 0 auto;
  position: relative;
  position: sticky;
  top: 10px;
  z-index: 1000;
}

.nav-content {
  display: flex;
  align-items: center;
  gap: 6rem;
  padding-left: 2rem;
  border: 2px solid black;
  background-color: white;
}

.header-container h1 {
  font-size: 1rem;
}

.header-container .nav-content ul {
  display: flex;
}

.header-container .nav-content li,
.header-container span,
.navbar-menu {
  padding: 1.1rem 2rem;
  border-left: 2px solid black;
  cursor: pointer;
}

.header-container span {
  display: none;
}

.header-container li:hover,
.header-container span:hover {
  background-color: #f9d9bc;
}

.header-container li.present,
.header-container span.present {
  background-color: #f9d9bc;
}

.navbar-menu,
.header-container .mobile-nav ul {
  display: none;
}




/* HERO */

.ainmated {
  position: relative;
  display: flex;
}

.hero-arrow {
  width: 50px;
  margin: 0 0 0;
  transform: rotate(-10deg);
}

.ainmated p {
  background-color: #f9d9bc;
  height: fit-content;
  transform: rotate(-6deg);
  margin-top: 25px;
  margin-left: -25px;
  font-family: "Handlee", cursive;
  padding: 2px 5px;
  font-weight: 700;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
}

.hero-side1,
.hero-side2 {
  width: 50%;
}

.hero-side1 h1 {
  position: relative;
}

.hero-side1 h1 span {
  font-size: 3rem;
  z-index: 100;
  position: relative;
}

.hero-container .img-icon {
  width: 80px;
}

.hero-side2 p {
  font-size: 1.2rem;
}

.button {
  background-color: black;
  border: none;
  color: white;
  border: 2px solid black;
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  transform: rotate(3deg);
}

.button:hover {
  background-color: #f9d9bc;
  border: 2px solid black;
  color: black;
}

/* ABOUT */
.about-container {
  margin-top: 5rem;
}

.about-arrow {
  width: 50px;
  margin: 0 0 0;
  transform: rotate(210deg);
}

.about-cards {
  display: flex; 
   border:3px solid black;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  height: 100%;
}
.about-cards .img{
  width: 50%;
  overflow: hidden;
}
.about-cards .img img{
width: 100%;
object-fit: cover;
}
.about-cards .paragraph{
  width: 50%;
  padding: 10px 20px;
      border-left: 3px solid black;
}
.about-cards .paragraph p{
  margin-bottom: 1rem;
  font-size: .8rem;
}

.about-cards .paragraph p span {
font-weight: 700;
color: #fc7c03;
text-decoration: underline;
}


.card {
  height: 20rem;
  position: relative;
  transition: all 1s linear;
  transform-style: preserve-3d;
  border: solid 2px black;
  background-color: white;
  box-shadow: 10px 10px 0 -2px white, 10px 10px 0 0px black;
}

.card-header {
  border-bottom: 2px solid black;
  height: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.card1 .card-header {
  background-color: #5ab5e8;
}

.card2 .card-header {
  background-color: #f384d4;
}

.card3 .card-header {
  background-color: #eecd56;
}

.card1,
.card2,
.card3 {
  box-shadow: 10px 10px 0 -4px white, 10px 10px 0 0px black;
}

.card1 {
  border: solid 0.25rem black;
  background-color: #9ddcff;

}

.card2 {
  border: solid 0.25rem black;
  background-color: #f9d9bc;
}

.card3 {
  background-color: #ffe68c;
  border: solid 0.25rem black;
}

.flip-btn,
.close-btn {
  color: black;
  cursor: pointer;
}

button.flip-btn,
button.close-btn {
  background-color: transparent;
  border: 2px solid black;
  margin-left: 10px;
  padding: 0 5px;
  font-weight: 900;
}

.card-container {
  perspective: 1000px;
}

.front,
.back {
  height: 100%;
  width: 100%;
  position: absolute;
}

.front {
  backface-visibility: hidden;
}

.front-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.front-text h2 {
  font-family: "Handlee", cursive;
  font-weight: bolder;
}

.back {
  z-index: 1;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  overflow: hidden;
}

.card-2 {
  height: 100%;
  background-image: url("./images/my-pic.png");
  background-size: cover;
  background-position: center;
  width: 100%;
}

.card-back-content li {
  position: relative;
  padding-left: 30px;
  margin-top: 20px;
}

.card-back-content li::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-image: url("./images/li-pen.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* PROJECTS */
.project-container,
.work-container,
.contact-container,
.activities-container {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: 20% 80%;
}



.projects-items-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.project-cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.project-arrow,
.work-arrow {
  width: 50px;
  margin: 10px 0;
  transform: rotate(180deg);
}

.project-container p:nth-child(3) {
  font-size: 1.2rem;
}

/* project card */

.project-card {
  height: 450px;
  border: 2px solid black;
  padding: 20px;
  padding-bottom: 30px;
  position: relative;
  background-color: white;
}

.project-card .img {
  height: 80%;
  width: 100%;
  overflow: hidden;

}

.project-card>div>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card .content {
  height: 20%;
  margin-top: 10px;
  font-family: "Handlee";
}

.project-card .content h2 {
  font-family: "Handlee", cursive;
  font-size: 20px;
  font-weight: 900;
}

.project-card .content>div {
  display: flex;
  justify-content: space-between;
  gap: 10px
}

.project-card .content .langagues {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.project-card .content .langagues div {
  background-color: #f9d9bc;
  color: black;
  font-size: .5rem;
  border: 2px solid black;
  padding: .3rem;
  border-radius: 3px;
  font-weight: 600;
  width: fit-content;

}

.project-card .content p {
  font-family: "Handlee", cursive;
  text-wrap: wrap;
  margin-top: 4px;
  font-size: 10px;
  text-overflow: ellipsis;

  overflow: hidden;
}



/* WORK SECTION */

.work-content {
  margin-left: 2.5rem;
  position: relative;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 30px 0;
}

.border-line {
  position: absolute;
  width: 107%;
  height: 2px;
  background-color: black;
  left: -30px;
}

.border-line2 {
  position: absolute;
  width: 107%;
  height: 2px;
  background-color: black;
  left: -30px;
  bottom: 25px;
}

.work-content .works {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 20px;
}

.work-content .works .number {
  font-size: 2rem;
  font-weight: 600;
  width: 4rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 3px;
}

.work-content .number.one {
  background-color: #9ddcff;
}

.work-content .number.two {
  background-color: #f9d9bc;
}

.work-content .number.three {
  background-color: #ffe68c;
}

.work-content .number.four {
  background-color: #ffe68c;
}

.work-info p {
  font-size: 12px;
}

.work-info p:last-of-type {
  color: #706f6f;
}

/* CONTACT SECTION */

.contact-container {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: 30% 70%;
  padding-bottom: 1.5rem;
}

.contact-arrow {
  width: 50px;
  margin: 20px 0 20px 100px;
  transform: rotate(190deg);
}

.form-input {
  display: flex;
  gap: 0;
  margin-top: 20px;
  width: 100%;
}

.form-input label,
.form-input input,
textarea {
  font-size: 1.2rem;
}

.form-input label {
  border-left: 2px solid black;
  font-family: "Handlee", cursive;
  padding: 0 5px;
  font-weight: 900;
}

.form-input:nth-child(1) label {
  background-color: #9ddcff;
}

.form-input:nth-child(2) label {
  background-color: #f9d9bc;
}

.form-input:nth-child(3) label {
  background-color: #ffe68c;
}

.form-input input,
.form-input textarea {
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  background-color: transparent;
  width: 100%;
  font-family: "Handlee", cursive;
  font-weight: 600;
  padding-left: 10px;
}

/* ACTIVITIES */

.activities-header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: fit-content;
}

.activities-header h4 {
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.activities-header h4:hover {
  border-bottom: 2px solid #f384d4;
}

.activities-header h4.active {
  border-bottom: 2px solid #f384d4;
}

.activity-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.activity-item {
  border: 2px solid black;
  /* padding: 20px; */
  background-color: white;
  margin-top: 2rem;
  overflow: hidden;

}

.activity-item .img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

.activity-item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.activity-item p {
  padding: 20px;
  font-family: "Handlee", cursive;
}

/* Hide all items by default */
.activity-item {
  display: none;
}

/* Show items with the active category */
.activity-item.active {
  display: block;
}


/* FOOTER */
.border-line-footer {
  width: 100%;
  height: 2px;
  background-color: black;
}

.footer-content>div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
  gap: 20px;
}

.footer-content>div li {
  margin-top: 1rem;
}

.links-container {
  display: flex;
  gap: 4rem;
}

.footer-links ul li {
  width: fit-content;
  padding: 3px 10px;
}

.footer-links ul li:hover,
.footer-links ul li:active {
  background-color: black;
  width: fit-content;
  color: #f9d9bc;
  border-radius: 3px;
}

.footer-socials ul li {
  background-color: black;
  color: #f9d9bc;
  padding: 0.3rem 0.7rem;
  font-weight: 900;
  font-family: "Handlee", cursive;
  cursor: pointer;
  border-radius: 3px;
  border: 2px solid black;
}

.footer-socials ul li:hover,
.footer-socials ul li:active {
  background-color: #f9d9bc;
  width: fit-content;
  color: black;
  border-radius: 3px;
  border: 2px solid black;
}

.footer-socials ul {
  display: flex;
  gap: 2rem;

}




/* ======================================== RESPONSIVENESS ======================================== */

@media (max-width: 400px) {
  .footer-socials ul {
    flex-direction: column;
    width: fit-content;

  }

  .links-container {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .header-container {
    gap: 2rem;
  }

  .footer-links ul li {
    padding: 0;
  }

  .card-back-content li {
    font-size: .7rem;
  }

}


@media (max-width: 600px) {
  .links-container {
    margin-top: 40px;
    gap: 2rem;
  }

  .footer-content>div {
    flex-direction: column;
    padding: 20px 30px 0;
  }

  .footer-content>div {
    width: 100%;
  }

  .footer-socials ul {
    gap: 1rem;
  }
}



@media (max-width: 700px) {

  .about-cards,
  .project-cards-container {
    grid-template-columns: repeat(1, 1fr);
  }

  section {
    margin: 3rem 1.5rem;
  }

  .activities-header h4 {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .body-container {
    margin: 0 1.5rem;
    padding-top: 2rem;
  }

  .border-line,
  .border-line2 {
    display: none;
  }

  .work-content {
    border-left: none;
    border-right: none;
  }

  .header-container .nav-content li {
    display: none;
  }

  .navbar-menu {
    display: flex;
  }

  .times {
    display: none;
  }

  .fa-times,
  .fa-bars {
    font-weight: 900;
    font-size: 20px;
  }

  .times.show {
    display: flex;
  }

  .harmbuger.hide {
    display: none;
  }

  .header-container span {
    display: flex;
    /* padding: 0.5rem 1rem; */
  }

  /* NAVBAR MOBILE */
  .header-container .mobile-nav {
    background-color: #f9d9bc;
    display: none;
    width: 100%;
    z-index: 1000;
    position: relative;
  }

  .header-container .mobile-nav.show {
    display: flex;
  }


  .header-container .mobile-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
  }

  .header-container .mobile-nav li {
    font-family: "Handlee", cursive;
    border-bottom: 2px solid black;
    padding: 10px;
    width: 100%;
  }

  .header-container .mobile-nav li:hover {
    background-color: white;

  }

  /* HERO */
  .hero-content {
    flex-direction: column;
    gap: 20px;
  }

  .hero-side1,
  .hero-side2 {
    width: 100%;
  }

  /* about */
  .about-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  /* project cards */
  .project-card {
    height: 20rem;
  }

  .project-container,
  .work-container,
  .contact-container,
  .activities-container {
    grid-template-columns: 100%;

  }

  .project-container>div {
    margin-bottom: 20px;
  }

  .work-container {
    margin-top: 1rem;
  }

  /* WORK */
  .work-content {
    margin-left: 0;
    margin-right: 10px;
  }

  .work-arrow,
  .project-arrow {
    width: 50px;
    margin: 10px 0;
    transform: rotate(200deg);
  }

  /* contact */
  .contact-arrow {
    width: 50px;
    margin: 20px 0 20px 100px;
    transform: rotate(250deg);
  }

  .contact-container {
    margin-top: 0;
  }

  /* ACTIVTIES */

  .activity-container {
    grid-template-columns: repeat(1, 1fr);
  }
    .activities-header {
      gap: 10px;
 
    }

  .activites-content {
    margin-top: 25px;
  }

  .activity-item {
    width: 100%;
  }
}

@media (max-width: 830px) {
  .card-back-content li {
    font-size: .8rem;
  }
}

@media (max-width: 950px) {
  .activities-header h4 {
    padding: 8px 10px;
    font-size: 14px;
  }
}

/* */
@media (min-width:769px) and (max-width: 1000px) {
  .activity-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1145px) {
  .card-back-content li {
    font-size: .8rem;
  }

}

@media (min-width:769px) and (max-width: 1120px) {
  .about-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .line {

    width: 100%;
    height: 25px;
    background-color: #f9d9bc;
    top: 5.5rem;
    left: 1rem;
  }
}